$orange-500: #FF6838;
$default: #31352B;
$title: #363853;
$border: #C2C2C2;

%rubik-300 {
  font-family: 'Rubik-Light', sans-serif;
  font-weight: 300;
}

%rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-600 {
  font-family: 'Rubik-SemiBold', sans-serif;
  font-weight: 600;
}
