section.hero.section
    .container
        .hero__content(style="background-image: url('/img/scooterguy.png')")
            .hero__inner
                h1.hero__title
                    | Доставка
                    br
                    span.hero__span за15 минут
                .hero__text
                    p
                        | Самый быстрый сервис доставки еды в вашем городе. Не уложимся
                        | в срок - доставка за наш счёт
                .hero__btnLink
                    button.hero__btn.btn(type='button') Заказать
                    a.hero__link(href='#') Подробнее
